.container {
	position: relative;
	width: 100%;

}

.gameboard, table, tr, td {
	border: 3px solid black;
	margin: auto;
    width: 60%;
    border:3px solid black;
    padding: 10px;
    max-width: 20em;
}

.box {
	font-size: 32px;
	text-align: center;
	width: 2em;
	height: 2em;
}